body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  background-color: #baddad;
  max-width:100%;
  float:bottom;
}
.title{
  text-align: center;
  padding-top: 20px;
}
li {
  list-style-type: none;
  display: inline-block;
}

button{
  max-width: 100%;
  margin: 0%;

}
.tab {
	display: inline-block;
  margin:2%;
	width: 2em;
	height: 2em;
	fill: currentColor;
}

main {
  background-color: rgba(255,255,255,.7);
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  max-width:90%;
}

main>h1 {
  text-align: left;
}

p>img {
  clear:both;
  height: 200px;
  max-width: auto;
  margin: 3%;
}

.main-nav img {

}

@media only screen and (min-width: 640px){
  .icon-menu{
    display: none;
  }

  .main-nav ul{
    display: block;
  }
}
