/*------------- BASE ---------*/
body {
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  background-color: #baddad;
}

main {
  background-color: rgba(255,255,255,.7);
}

li {
  list-style-type: none;
  position:relative;
}

.headerTitle{
  color: white;
  background-color: black;
}
/*------------- LAYOUT ---------*/
header {
  max-width:100%;
  height:auto;
  padding-bottom: .5%;
}

main {
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  max-width:100%;
}

select{
  width:40%;
}

.headerTitle{
  text-align: left;
  padding-top: 5%;
  padding-left:4%;
  padding-bottom: 5%;
}

p>img {
  clear:both;
  height: 200px;
  max-width: auto;
  margin: 3%;
}
/*------------- MODULE ---------*/
nav {
  margin: 5%;
  display: none;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:10px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}

.cross{
  display: none;
  background:none;
  position:absolute;
  top:0;
  right:0;
  padding:10px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
/*------------- STATE ---------*/
/*------------- THEME ---------*/
main h1 {
  text-align: left;
}


/* ----- MEDIA QUERIES --------*/
@media only screen and (min-width: 640px){
  nav {
    display: block;
  }

  .nav-item {
    list-style-type: none;
    display: inline-block;
  }

  .icon-menu {
    display: none;
  }

  select{
    width:30%;
  }
  button{
    max-width: 100%;
    margin: 0%;

  }
  .tab {
  	display: inline-block;
    margin:2%;
  	width: 2em;
  	height: 2em;
  	fill: currentColor;
  }
  nav ul{
    display: block;
  }
}
